body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1d4350, #a43931);
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 14px;
    color: #777;
    transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -12px;
    font-size: 12px;
    color: #a43931;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(45deg, #1d4350, #a43931);
    color: white;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
